@model FireLearn.Models.Entity.tblUsers

@{
    ViewBag.Title = "hesapEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .navbar {
        background-color: #2b3648 !important;
    }

    .navbar-brand:hover {
        color: #ffc000 !important;
        transition: 0.6s;
        padding-left: 30px;
    }

    .nav-link {
        color: #FFFFFF !important;
        font-size: 16px;
        text-align: justify !important;
    }

        .nav-link:hover {
            color: #ffc000 !important;
            transition: 0.6s;
            padding-left: 50px !important;
        }

    .btn-selector {
        background-color: transparent;
        color: #FFFFFF;
    }

        .btn-selector:hover {
            color: #ffc000;
        }

    body {
        background-size: cover;
        background-color: #2b3648;
    }

    .bodyBaslik {
        color: white;
    }

    #cardBackground {
        background-image: url("/images/cardBackground1.jpg");
        background-repeat: round;
    }

    .card {
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5) !important;
    }

    .social_icon span {
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
    }

        .social_icon span:hover {
            color: white;
            cursor: pointer;
        }

    .card-header h3 {
        color: white;
    }

    .social_icon {
        position: absolute;
        right: 20px;
        top: -45px;
    }

    .input-group-prepend span {
        width: 50px;
        background-color: #FFC312;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .remember {
        color: white;
    }

        .remember input {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }

    .login_btn {
        color: black;
        background-color: #FFC312;
        width: 100px;
    }

        .login_btn:hover {
            color: black;
            background-color: white;
        }

    .links {
        color: white;
    }

        .links a {
            margin-left: 4px;
        }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Hesap Oluştur</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope-open-text"></i></span>
                        </div>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-warning float-right"><b>Hesap Oluştur</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
