
@{
    ViewData["Title"] = "oturumAc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head class="fab fa-gripfire">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FireLearn</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap-4.3.1.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/images/headerLogo.png">
    <style>
        .navbar {
            background-color: #2b3648 !important;
        }

        .navbar-brand:hover {
            color: #ffc000 !important;
            transition: 0.6s;
            padding-left: 30px;
        }

        .nav-link {
            color: #FFFFFF !important;
            font-size: 16px;
            text-align: justify !important;
        }

            .nav-link:hover {
                color: #ffc000 !important;
                transition: 0.6s;
                padding-left: 50px !important;
            }

        .btn-selector {
            background-color: transparent;
            color: #FFFFFF;
        }

            .btn-selector:hover {
                color: #ffc000;
            }

        body {
            background-size: cover;
            background-color: #2b3648;
        }

        .bodyBaslik {
            color: white;
        }

        #cardBackground {
            background-image: url("/images/cardBackground1.jpg");
            background-repeat: round;
        }

        .card {
            height: 370px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
        }

        .social_icon span {
            font-size: 60px;
            margin-left: 10px;
            color: #FFC312;
        }

            .social_icon span:hover {
                color: white;
                cursor: pointer;
            }

        .card-header h3 {
            color: white;
        }

        .social_icon {
            position: absolute;
            right: 20px;
            top: -45px;
        }

        .input-group-prepend span {
            width: 50px;
            background-color: #FFC312;
            color: black;
            border: 0 !important;
        }

        input:focus {
            outline: 0 0 0 0 !important;
            box-shadow: 0 0 0 0 !important;
        }

        .remember {
            color: white;
        }

            .remember input {
                width: 20px;
                height: 20px;
                margin-left: 15px;
                margin-right: 5px;
            }

        .login_btn {
            color: black;
            background-color: #FFC312;
            width: 100px;
        }

            .login_btn:hover {
                color: black;
                background-color: white;
            }

        .links {
            color: white;
        }

            .links a {
                margin-left: 4px;
            }
    </style>
</head>
<body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Giriş Yap</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">

                    <form method="post">
                        @using (Html.BeginForm("", "", FormMethod.Post))
                        {
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>

                                @Html.TextBox("username", null, new { @class = "form-control" })
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>

                                @Html.TextBox("password", null, new { @class = "form-control" })
                            </div>

                            <div class="form-group">

                                <input id="Submit1" type="submit" value="Giriş" class="btn btn-outline-warning float-right" />
                            </div>
                        }
                    </form>
                </div>
                <!--  @using (Html.BeginForm("oturumAc", "home", FormMethod.Post))
                {
                    @Html.Label("Kullanici Adi")
                    @Html.TextBox("username")
                    <br />
                    @Html.Label("Şifre")
                    @Html.TextBox("password")
                    <br />
                    <input id="Submit1" type="submit" value="Giriş" />
                }-->

                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Hesabın yok mu?<a href="hesapOlustur.html" style="color:#ffc000">Hesap Oluştur</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" style="color:#ffc000">Şifreni mi unuttun?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center text-white col-lg-6 offset-lg-3">
                <br><br><br><h4>FireLearn </h4>
                <p>Copyright &copy; 2019 &middot; All Rights Reserved</a></p>
            </div>
        </div>
    </div>
</body>
</html>
